/*--Styling for Tablets--*/
@media screen and (min-width: 768px) {
     
     .container {
        padding: 10px 2.5%;
     }
    
    header .container {
        padding: 10px 0;
    }
    
    .title {
        width: 100vw;
        top:0;
        left: auto;
        right: auto;
        
    }
    
    nav {
        display: inline-block;
        width: 100vw;
        margin: auto 0;
        padding: 3% 0;
    }
    
    nav ul.main-nav {
        padding-left: 0 !important;
    }
    
    nav ul li {
        display: inline-block;
        background-color: #c3ebfc;
        margin: 5px auto;
        padding: 0.5em 1.5em;
    }
    
     nav ul li:first-child {
        padding: 0.5em;
        margin-left: -6%;
    }

    
    #home img {
        display: inline-block;
        max-width: 50%;
        float: right;
        margin-left: 1em;
    }
    
    #home p {
        text-align: left;
        padding-top: 1em;
        padding-right: 1em;
    }
    
    #portfolio {
        padding-top: 30px;
    }
    
    .gallery-center {
        display: block;
        margin-left:4%;
        margin-right: auto;
    }

    
    img.gallery-img {
        display: inline-block;
        max-width: 45%;
        margin: 2%;
        float: left;
    }
    
    img.gallery-img:nth-child(2n + 1) {
        content:"";
        display: table;
        clear: left;
    }
    
   img.gal,ery-img:last-child {
        content: "";
        display: table;
        clear: left;
        margin-left: auto;
        margin-right: auto;
    }
 
.marketing, .calculator, .map, .search, .gallery, .travel {
      float: left;
      display: inline-block;
      width: 47.5%;
      min-height: 400px;
      padding-left: 1.25%;
      padding-right: 1.25%;
      
    } 
    
    
    h3 {
        padding-bottom: 20px;
    }
    
    img {
        margin: 1.5em auto;
        max-width: 100%;
    }
    
    footer {
        padding-top: 30px;
    }
    
    footer .tab {
        display: inline-block;
        float: right;
    }
    
    footer .mobile {
        display: none;
    }
}


/*--Styling for Desktops --*/
@media screen and (min-width: 1024px) {
     
    .container {
        max-width: 1024px;
        margin: 10px auto;
        padding: 2em 1em;
    }
    
    .title {
        width: auto;
        left: 0;
        right: auto;
    }
    
    li h1.title {
        position: absolute;
        text-align: left;
        left: 0;
        top: 0;
        
    }
    
    .title {
        width: auto;
        left: 0;
        right: auto;
    }
    
    nav {
        display: block;
        width: 100%;
        padding-top: 1em;
        text-align: right;
        float: right;
    }
    
    
    nav ul li {
        display: inline-block;
        background-color: transparent;
        margin: 5px auto;
        padding: 0.5em 1.5em;
        text-align: right;
    }
    
    nav ul li:first-child {
        text-align: left;
        margin-left: 0;
        margin-right: auto;
    }
    
    
    #home img {
        display: inline-block;
        max-width: 50%;
        float: right;
        margin-left: 1em;
    }
    
    #home p {
        text-align: left;
        padding-top: 1em;
        padding-right: 1em;
        font-size: 1.15em;
    }
    
    #portfolio {
        padding-top: 30px;
    }
    
 
.marketing, .calculator, .map, .search, .gallery, .travel {
      float: left;
      display: inline-block;
      width: 30%;
      min-height: 425px;
      padding-left: 1.65%;
      padding-right: 1.65%;
      
    }
    
    .project {
    background: #c3ebfc url('img/spider.png') center left no-repeat;
    }
    
    .gallery-center {
        display: block;
        margin-left:1%;
        margin-right: auto;
    }

    
    img.gallery-img {
        max-width: 31%;
        margin: 1%;
        float: left;
    }
    
    img.gallery-img:nth-child(2n+1) {
    content: "";
    display: table;
    clear: none;
    }
    
    img.gallery-img:nth-child(3n + 4) {
        content:"";
        display: table;
        clear: left;
    }
    
    
    h3 {
        padding-bottom: 20px;
    }
    
    img {
        margin: 1.5em auto;
    }
    
    footer {
        padding-top: 30px;
    }
    
    .upper-footer p {
        font-size: 1.15em;
    }
    
    footer .tab {
        display: inline-block;
        float: right;
    }
    
    footer .mobile {
        display: none;
    }
}



